.git
.gitignore
myproxy
dockerfile
.gemini/
brain/
*test.go
README.md
LICENSE
docs/
scripts/
temp/
out/
bin/
node_modules/
dist/
vendor/
.dockerignore
build
tmp

*.log
*.md

Dockerfile
docker-compose.yml

tests
scripts